<html>

<head>
<title>{{title}} Status</title>
<link rel="stylesheet" href="https://unpkg.com/modern-normalize/modern-normalize.css"/>
<style>
body {
background: black;
color: #ccc;
font-family: Ubuntu, sans-serif;
}
main {
  margin-top: 5px;
}
.log {
margin-top: 5px;
margin-bottom: 5px;
padding: 5px;
}
.logTitle {

}
.logLines {
  font-family: Ubuntu Mono, monospace;
}
.dateColumn {
  min-width: 110px
}
</style>
</head>

<body>
<main>
Status<br/>
{{#each logs}}
<div class="log">
<div class="logTitle">
{{name}} ({{size}})
</div>
{{#if lines}}
<table class="logLines">
{{#each lines}}
<tr>
{{#if line}}
<td colspan="2">{{line}}</td>
{{else}}
<td class="dateColumn" style="color: {{color}}">{{date}}</td>
<td style="color: {{color}}">{{message}}</td>
{{/if}}
</tr>
{{/each}}
</table>
{{/if}}
</div>
</div>
{{/each}}
</main>
</body>

</html>