<html>

<head>
<title>{{title}} Status</title>
<link rel="stylesheet" href="https://unpkg.com/modern-normalize/modern-normalize.css"/>
<style>
body {
  background: black;
  color: #ccc;
  font-family: Ubuntu, sans-serif;
}
main {
  padding: 10px;
}
.log {
  margin-top: 15px;
  margin-bottom: 15px;
}
.logTitle {
  margin-bottom: 5px;
}
.logLines {
  font-family: Ubuntu Mono, monospace;
}
.dateColumn {
  min-width: 110px;
  vertical-align: top;
}
.infoBlocks {
  display: flex;
}
.infoBlock {
  text-align: center;
  min-width: 150px;
  min-height: 50px;
  border: 1px solid #AAA;
  padding: 10px;
  margin: 10px;
}
.infoKey {
  color: #AAA;
  font-size: 75%;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 5px;
}
.infoValue {
  font-size: 150%;
}
</style>
</head>

<body>
<main>
<div class="infoBlocks">
{{#each infoBlocks}}
<span class="infoBlock">
  <div class="infoKey">{{key}}</div>
  <div class="infoValue">{{value}}</div>
</span>
{{/each}}
</div>
{{#each logs}}
<div class="log">
<div class="logTitle">
{{name}} ({{sizeString}})
</div>
{{#if lines}}
<table class="logLines">
{{#each lines}}
<tr>
<td class="dateColumn" style="color: {{color}}">{{date}}</td>
<td style="color: {{color}}">
{{#each lines}}
<div>{{this}}</div>
{{/each}}
</td>
</tr>
{{/each}}
</table>
{{/if}}
</div>
</div>
{{/each}}
</main>
</body>

</html>